.MessagesList {
    width: 50vw;
    overflow-y: scroll;
    max-height: 87vh;
    max-width: 40rem;
}

.MessageItem {
    margin-top: .75rem;
    padding-top: 1rem;
    padding: 1rem;
    border-radius: 25px;
    height: 3rem;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: #acc7ab;
}

.MessageItem .SubjectSmall{
    font-weight: 500;
}

.MessageItem .FromSmall{
    font-weight: 900;
}

.MessageItem:hover {
    background-color: #97b096;
}